<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1><%=title%></h1>
        <!-- <img src="./uploads/<%=image%>" alt="img">                   Since upload is now static folder -->
        <img src="/uploads/<%=image%>" alt="img">
        <!-- <img src="images/<%=image%>" alt="img"> -->
    </center>
</body>
</html>