<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   <form action="/upload" method="post" enctype="multipart/form-data">
       <div>
           <label>Name</label>
           <input type="text" name="upldFileName">
       </div>
       <div>
           <label>Image</label>
           <input type="file" name="upldFile">
       </div>
       <button type="submit">Submit</button>
   </form>
</body>
</html>